body {
	margin:0 auto;
	color: #fff;
    background-color: black;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight:normal;
	padding: 20px;
	max-width: 1400px;
}
h1 {
	border-bottom: 3px solid rgb(216, 218, 230);
	background-color: #90a7d0;
	color: #ddd;
	padding: 16px 16px;
	border-radius: 10px;
	text-align: center;
}

#foto {
	size: 10px;
	border-radius: 200px;
}

h3 {
	background-color: rgb(75, 72, 72);
	text-align:left;
    padding-left: 16px;
    border-radius: 10px;
	font-weight: normal;
	
}

.container {
	background-color: rgb(107, 104, 104);
	padding: 15px 2%;
    border-radius: 15px;
}

a {
	text-decoration:none;
	color: rgb(152, 149, 241);
}

a:hover {
	text-decoration:none;
	color: rgb(49, 49, 92);
}


.linkedin {
	color: rgb(41, 65, 250);
}

.instagram {
	color: #e1306c;
}

.facebook {
	color:#4267b2;
}

.github {
	color: black

}

.whatsapp {
	color:#34af23;
}

.footer {
	text-align: center;
}

#topo {
	font-size: small;
}
